/* Code syntax highlight */
// @import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github.min.css";
// @import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github-dark.min.css";
@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/atom-one-dark.min.css";
// @import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0-beta1/build/styles/base16-gruvbox-dark-pale.min.css";

h1 {
  color: blue;
}

.container {
  padding: 0 3em;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 1.6em;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 0.4em;
  }
}