<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="/assets/img/favicon.ico">
    <title>{{ title }} 🌱 Dnote</title>
  </head>
  <body class="flex-body-container">
    <a href="/">ホームへ戻る</a>
    <header class="header-container">
      {% include "layouts/header.njk" %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      {% include "layouts/footer.njk" %}
    </footer>
  </body>
</html>